{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}

<h1>Bannière du moment</h1>

<div id="carouselExampleAutoplaying" class="carousel slide mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('Img/Streamer1.jpg') }}" class="d-block" alt="streamer1">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('Img/Streamer2.jpg') }}" class="d-block" alt="streamer2">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('Img/Streamer3.jpg') }}" class="d-block" alt="streamer3">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('Img/Streamer4.jpg') }}" class="d-block" alt="streamer4">
        </div>
        <div class="carousel-item">
            <img src="{{ asset('Img/Streamer5.jpg') }}" class="d-block" alt="streamer5">
        </div>
    </div>
    <button class=" button-carousel left" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="icon-left" aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
    </button>
    <button class=" button-carousel right" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="icon-right" aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
    </button>
</div>

{% endblock %}