{% extends 'base.html.twig' %}

{% block title %}Hello StreamerController!{% endblock %}



{% block body %}


<div class="streamer-container">
    {% for rarity, cards in groupedCards %}
        <h3>Rareté {{ rarity }}</h2>
        <div class="rarity-group">
            {% for card in cards %}
                <div class="streamer-card">
                    {{ card.name }} - Puissance : {{ card.stats }}
                    <img src="Img/{{ card.name }}.jpg" alt="Image de {{ card.name }}" />
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>


{% endblock %}
