{% extends 'base.html.twig' %}

{% block title %}Invocation{% endblock %}

{% block body %}


<div class="tirage">
    
    <form id="gachaForm" action="{{ path('gacha') }}" method="POST" data-turbo="false">
        <button class="bubbly-button" type="submit">Invocation</button>
    </form>

    {# Afficher le résultat du tirage #}
    {% if message %}
        <p>{{ message }}</p>
        {% if img != null %}
        <div class ="cards"><img class="card colorcard active animated" src="Img/{{ img }}.jpg" alt="Image de {{ img }}" /></div>
        {% endif %}
    {% endif %}

    {% if img is null %}
    <h1>Bannière du moment</h1>


    <div class="carousel">
        <div class="carousel-inner">
            {% for card in cards %}
                <div class="caroussel-item cards">
                    <img src="Img/{{asset(card.name)}}.jpg" alt="{{card.name}}" class="card colorcard hover animated">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-bouton prev" onclick="moveSlide(-1)">←</button>
        <button class="carousel-bouton next" onclick="moveSlide(1)">→</button>
    </div>

        

    {% endif %}

</div>

{% endblock %}
