{% extends 'base.html.twig' %}

{% block title %}Invocation{% endblock %}

{% block body %}


<div class="tirage">
    
    <form id="gachaForm" action="{{ path('gacha') }}" method="POST" data-turbo="false">
        <button class="bubbly-button" type="submit">Invocation</button>
    </form>

    {# Afficher le résultat du tirage #}
    {% if message %}
        <p>{{ message }}</p>
        {% if img != null %}
        <div class ="cards"><img class="card colorcard active animated" src="Img/{{ img }}.jpg" alt="Image de {{ img }}" /></div>
        {% endif %}
    {% endif %}

    {% if img is null %}
    <h1>Bannière du moment</h1>


        
            <div class=" cards">
                <img src="{{ asset('Img/Emperor.jpg') }}" class="card colorcard hover animated " alt="streamer1">
            </div>
            <div class=" cards">
                <img src="{{ asset('Img/Hierophant.jpg') }}" class="card colorcard hover animated " alt="streamer2">
            </div>
            <div class=" cards">
                <img src="{{ asset('Img/Lover.jpg') }}" class=" colorcard hover card animated" alt="streamer3">
            </div>
            <div class=" cards">
                <img  src="{{ asset('Img/Tower.jpg') }}" class=" colorcard hover card animated" alt="streamer4">
            </div>
            <div class=" cards">
                <img src="{{ asset('Img/Judgement.jpg') }}" class=" colorcard hover card animated" alt="streamer5">
            </div>
        

    {% endif %}

</div>

{% endblock %}
