{% extends 'base.html.twig' %}

{% block title %}Hello StreamerController!{% endblock %}

{% block body %}


<div class="tirage">
    
    <form action="{{ path('gacha') }}" method="POST" data-turbo="false">
        <button type="submit">Invocation</button>
    </form>

    {# Afficher le résultat du tirage #}
    {% if message %}
        <p>{{ message }}</p>
        {% if img != null %}
        <img src="Img/{{ img }}.jpg" alt="Image de {{ img }}" />
        {% endif %}
    {% endif %}

    {% if img is null %}
    <h1>Bannière du moment</h1>

    <div id="carouselExampleAutoplaying" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('Img/Emperor.jpg') }}" class="d-block" alt="streamer1">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('Img/Hierophant.jpg') }}" class="d-block" alt="streamer2">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('Img/Lover.jpg') }}" class="d-block" alt="streamer3">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('Img/Tower.jpg') }}" class="d-block" alt="streamer4">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('Img/Judgement.jpg') }}" class="d-block" alt="streamer5">
            </div>
        </div>
        <button class=" button-carousel left" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="icon-left" aria-hidden="true"><i class="fa-solid fa-arrow-left"></i></span>
        </button>
        <button class=" button-carousel right" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="icon-right" aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
        </button>
    </div>
    {% endif %}

</div>

{% endblock %}
