{% extends 'base.html.twig' %}

{% block title %}Hello AgenceController!{% endblock %}

{% block body %}
<div class="agence">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>Your Streamers:</h2>
    {% if cards is empty %}
        <p>You have no streamers.</p>
    {% else %}
        <div class="streamer-container">
            {% for card in cards %}
                <div class="streamer-card">
                    <p>{{ card.name }} ({{ card.rarity }})</p>
                    <img src="Img/{{ card.name }}.jpg" alt="Image de {{ card.name }}" />
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
