{% extends 'base.html.twig' %}

{% block title %}Hello AgenceController!{% endblock %}

{% block body %}
<div class="agence">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>Your Streamers:</h2>
    {% if streamers is empty %}
        <p>You have no streamers.</p>
    {% else %}
        <div class="streamer-container">
            {% for streamer in streamers %}
                <div class="streamer-card">
                    <p>{{ streamer.pseudo }} ({{ streamer.rarity }})</p>
                    <img src="Img/{{ streamer.pseudo }}.jpg" alt="Image de {{ streamer.pseudo }}" />
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
